<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if (error){ %>
    <h1><%= error  %></h1>
    <% } %>
    <% if (language){ %>
      <h1><%= language %>ですね</h1>
      <% } %>
</body>
</html>